* {
    background-color: antiquewhite;
}


div {
    display: relative;
    margin-top: 15%;
    margin-left: 30%;
    width: 250px;
    height: 880px;
}

img {

    clip-path: polygon(0 0, 25% 50%, 0 100%);

    transform: rotate(1200000deg);

    transition: transform 3200s;

}

@media screen and (max-width: 1900px) {
    *{
        background-color:black;
    }

    div {
        display: relative;
        margin-top: 15%;
        margin-left: 30%;
        width: 250px;
        height: 880px;
       
    }
    
    img {
    
        clip-path: polygon(0 0, 25% 50%, 0 100%);
    
        
    
    } 
    
}

@media screen and (max-width: 1500px) {
    *{
        background-color:black;
    }

    div {
        display: relative;
        margin-top: 15%;
        margin-left: 30%;
        width: 250px;
        height: 880px;
       
    }
    
    img {
    
        clip-path: polygon(0 0, 25% 50%, 0 100%);
    
        transform: rotate(-10000000deg);
    
        transition: transform 1120s;
    
    } 
    
}

@media screen and (max-width: 1200px) {

    *{
        background-color:black;
    }

    div {
        display: relative;
        margin-top: 15%;
        margin-left: 30%;
        width: 250px;
        height: 880px;
    }
    
    img {
    
        clip-path: polygon(20% 0, 25% 50%, 0 100%);
    
        transform: rotate(10000000deg);
    
        transition: transform 1000s;
    
    } 
    
}



@media screen and (max-width: 1000x) {

    *{
        background-color:blueviolet;
    }

    div {
        display: relative;
        margin-top: 15%;
        margin-left: 30%;
        width: 250px;
        height: 880px;
    }
    
    img {
    
        clip-path: polygon(90% 0, 38% 50%, 0 10%);
    
        transform: rotate(-10000000deg);
    
        transition: transform 115s;
    
    } 
    
}